{% comment %}
	See: http://www.ericmobley.net/social-media-share-buttons-impact-on-performance/
	Also, fb could be: href="https://www.facebook.com/dialog/share?app_id=APP_ID&display=popup&href={{ permalink }}&redirect_uri={{ site.permalink }}
	Register w/ fb: https://www.facebook.com/login.php?next=https%3A%2F%2Fdevelopers.facebook.com%2Fapps
	more refs: https://developers.facebook.com/docs/javascript/quickstart/v2.5
{% endcomment %}

<a
    class=""
    href="https://twitter.com/intent/tweet?source=&text={{ page.title }}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Comment on twitter
</a>
