<footer class="c-footer">
    <div class="c-block u-textCenter">
        <div class="o-container">
            {% include enews.html %}
        </div>
    </div>
    <div class="c-block u-textCenter">
        <div class="o-container">
            <img class="c-logo" src="{{ site.assetsurl }}billys-logo.png" alt="" />
            <!-- <h2 class="c-text--lg"><strong>Billys Coffee, Cairns</strong></h2> -->
            <!-- <h3 class="c-headline--xsSemi">Locally sourced. Fresh roasted daily.</h3> -->
            <h2 class="c-headline--xs">Billys Coffee, Cairns</h2>
            <p class="c-text--sm u-spaceTD2">Copyright {{ 'now' | date: "%Y" }}. Site by <a href="http://www.patternworks.com.au">Patternworks.</a></p>
        </div>
    </div>
</footer>
