<figure>
    <div class="FlexEmbed">
        <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
        <div class="FlexEmbed-content">
            <iframe
                class="o-posAbsoluteCenterAlt"
                src="https://www.youtube.com/embed/{{ page.youtube }}"
                frameborder="0"
                allowTransparency="true"
                allowfullscreen
                width="100%"
                height="100%" >
            </iframe>
        </div>
    </div>
</figure>
