

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


// Post block in a list.
// When a post is also a link.
// These are vertically & horizontally centered.
// See: https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
// --------------------------------------------------------------------------

.Post + .Post {
    margin-top: $blockSpace;
}

// markdown scope
.Post-content {
    a {
        @include underlineLink($mixin-rule: $linkRuleText);
    }

    figure {
        margin: ($paragraphSpace * 1.25) 0 ($paragraphSpace * 1.5);
        @include media-breakpoint-up(sm) { margin: $paragraphSpace * 1.25; }
        @include media-breakpoint-up(md) { margin: $paragraphSpace * 1.75; }
    }

    img {
        border: 1px solid palette(base);
    }


    blockquote p {
        background-color: rgba( palette(neutral), 0.7);
        //border-left: 1px solid palette(text);
        color: rgba( palette(text), 0.7);
        letter-spacing: 0.0025em;
        line-height: 1.6;
        padding: space(0.6) space(0.75) space(0.5);

        // font sizes
    	font-size: fontsize(text--quote, sm);
    	@include media-breakpoint-up(sm) { font-size: fontsize(text--quote, rg); }
    	@include media-breakpoint-up(lg) { font-size: fontsize(text--quote, lg); }

    }
}

// When inside .Post-content markdown:
.Post-date {
    @include textRg();
    color: palette(muted);
    float: left;
    margin-right: space(0.3);
}

.Post-image {
	margin-bottom: space(1);
}

.Post-meta {
    @include textTemplate(
		$mixinSize: text--sm,
		$mixinColor: palette(muted),
		$mixinLetterSpacing: 0.025em
	);
    border-top: 1px solid palette(base);
	//margin-top: $blockSpace * 1/3;
	margin-top: $paragraphSpace * 1.1;
	padding-top: space(0.5);

    span {
        display: inline-block;
        font-size: 75%;
        margin: 0 space(0.25);
        transform: translateY(-3px);
    }
}

.Post-tags {
	@include textSm();
	color: palette(muted);
    display: inline-block;
	//margin-top: space(0.25);

    > a {
        @include underlineLink($mixin-rule: $linkRuleGrey);
    }
}
