

// --------------------------------------------------------------------------
//   LAYOUT: BODY
// --------------------------------------------------------------------------


html {
    background-color: palette(brand-complement);
}

.c-content {
    background-color: palette(background);
    padding: $blockSpace 0;
}
